<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.selflearning.chemistree.f_mendeleev_table">

    <application>
        <activity
            android:name="com.selflearning.chemistree.f_mendeleev_table.table.MendeleevTable"
            android:taskAffinity="com.selflearning.chemistree.f_mendeleev_table" />
    </application>

</manifest>